@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


main{
    margin: 80px auto;
    max-width: 750px;
    border-radius: 15px;
    background-color: #fff;
    border:1px solid black;   
}

.color-button{
    background-color: #05466C;
}

form{
    .main-text{
        font-size: 2em;
        padding: 20px 10%;
        color: black;
        text-align: justify;
    }

    .form-text{
        width: 80%;
        margin: auto;
    }

    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;

    input, select{
        width: 80%;
        margin: auto;
        height: 3em;
        border-width: 0.5px;
        border-radius: 5px;
    }

    button{
        color: white;
        padding: 10px;
        border-radius: 10px;
        width: 150px;
        margin: 40px auto;

        a{
            color: white;
            text-decoration: none;
        }
    }

    .sex-options-div{

        

        input{
            width: 20px;
            padding: 0;
            margin: 0;
        }

        .sex-option{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        display: flex;
        flex-direction: column;

        .sex-options-section{
            display: flex;
            align-content: center;
            justify-content: space-around;
        }
    }
    .birth{
        display: flex;
        flex-direction: column;
        
        
    }
}
@media only screen and (max-width: 750px) {
    main {
        margin: 30px;
    }
    
    .main-text {
        font-size: 1.5em;
    }

    input, select {
        width: 100%;
    }

    button.color-button {
        width: auto; 
    }
    .sex-options-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 600px) {
    
    main {
        margin: 30px;
    }

    input, select {
        width: 100%;
    }
    button.color-button {
        width: auto; 
    }

    .sex-options-section{
        display: flex;
        flex-direction: column;
        
    }
}