*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

header img{
    height: 30px;
}

.bx{
    scale: 2;
}

.hide{
    display: none;
}

.open-menu{
    position: fixed;
    border-top: 2px solid black;
    width: 75%;
    height: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    .open-menu-options{
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}