*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

header img{
    height: 30px;
}

.bx-menu{
    scale: 2;
}