*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header img{
    height: 30px;
}

.bx{
    scale: 2;
}

.hide{
    display: none;
}

.open-menu{
    position: fixed;
    height: 92%;
    width: 70%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .open-menu-options{
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.open-header{
    top: 0  ;
    position: fixed;
    width: 100%;
    height: 100%;
    
    header{
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
}